.skill {
    width: 1350px;
}

.card {
    background-color: #1b1b1b;
    width: 700px;
    border-radius: 5px;
}

.vid-wrap {
    width: 700px;
    height: 370px;
}

.card > .vid-wrap > video {
    width: 700px;
}

.capt {
    padding: 10px;
}

.capt > p {
    text-align: center;
}

.capt > h3 {
    margin-bottom: 5px;
}
